* {
    font-family: sans-serif;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    margin-right: 5px;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
    color: #212121;
}

nav ul li a:hover {
    background-color: #ECEEED;
}